1. Write a Python Program to Find the Factorial of a Number?
2. Write a Python Program to Display the multiplication Table?
3. Write a Python Program to Print the Fibonacci sequence?
4. Write a Python Program to Check Armstrong Number?
5. Write a Python Program to Find Armstrong Number in an Interval?
6. Write a Python Program to Find the Sum of Natural Numbers?

In [1]:
def fact1(n):
    fact = 1
    while n!=1:
        fact = fact*n
        n = n -1
    return fact

In [2]:
fact1(11)

39916800

In [3]:
def multab(n):
    if n == 0:
        return 0
    else:
        i = 1
        list1 = []
        while i!=11:
            list1.append(n*i)
            i = i + 1
        return list1

In [4]:
multab(0)

0

In [5]:
def fibo(n):
    num1 = 0
    num2 = 1
    num3 = 0
    list1 = []
    list1.append(num1)
    list1.append(num2)
    while n-2!=0:
        num3 = num1 + num2
        list1.append(num3)
        num1 = num2
        num2 = num3
        n = n-1
    return list1

In [6]:
fibo(10)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [7]:
def Armstrong(n):
    
    order = len(str(n))
    
    sum1 = 0
    
    temp = n
    while n!=0:
        sum1 = sum1 + (int(n%10))**order
        n = int(n/10)
        
    if temp == sum1:
        return "Number is Armstrong"
    else:
        return "Number is not Armstrong"

In [8]:
Armstrong(371)

'Number is Armstrong'

In [9]:
def Armstrong_interval(x, y):
    
    for n in range(x,y+1):
        
        order = len(str(n))

        sum1 = 0

        temp = n
        while n!=0:
            sum1 = sum1 + (int(n%10))**order
            n = int(n/10)

        if temp == sum1:
            print(temp)

In [10]:
Armstrong_interval(1,2000)

1
2
3
4
5
6
7
8
9
153
370
371
407
1634

In [11]:
def N_sum(n):
    sum = 0
    while n!=0:
        sum = sum + n
        n = n -1
    return sum

In [12]:
N_sum(10)

55