Write a Python Program to Find LCM?
Write a Python Program to Find HCF?
Write a Python Program to Convert Decimal to Binary, Octal and Hexadecimal?
Write a Python Program To Find ASCII value of a character?
Write a Python Program to Make a Simple Calculator with 4 basic mathematical operations?

Write a Python Program to Find HCF?

In [1]:
def gcd1(a , b):
    while (a > 0 and b > 0):
        if a > b:
            a = a % b
        else :
            b = b % a
            
    if a != 0:
        return a
    return b

In [2]:
gcd1(98,56)

14

In [3]:
def lcm1(a,b):
    result = (a*b)/gcd1(a,b)
    return result

In [4]:
lcm1(15,20)

60.0

In [5]:
def bin1(n):
    str1 = ''
    while n!=0:
        str1 = str1 + str(n%2)
        n = int(n / 2 )   
    return str1[::-1]

In [6]:
bin1(19)

'10011'

In [7]:
def octa1(n):
    str1 = ''
    while n!=0:
        str1 = str1 + str(n%8)
        n = int(n / 8 )   
    return str1[::-1]

In [8]:
octa1(17)

'21'

In [9]:
conversion_table = {0: '0', 1: '1', 2: '2', 3: '3', 4: '4',
                    5: '5', 6: '6', 7: '7',
                    8: '8', 9: '9', 10: 'A', 11: 'B', 12: 'C',
                    13: 'D', 14: 'E', 15: 'F'}
def Hexa1(decimal):
    hexadecimal = ''
    while(decimal > 0):
        remainder = decimal % 16
        hexadecimal = conversion_table[remainder] + hexadecimal
        decimal = decimal // 16
 
    return hexadecimal

In [10]:
Hexa1(16)

'10'

In [12]:
def findacii(c):
    return ord(c)

In [13]:
findacii('h')

104

In [15]:
def add(a,b):
    return (a+b)
def sub(a,b):
    return (a-b)
def mul(a,b):
    return(a*b)
def div(a,b):
    return (a/b)

print("Please select operation -\n" \
        "1. Add\n" \
        "2. Subtract\n" \
        "3. Multiply\n" \
        "4. Divide\n")
 
 
# Take input from the user
select = int(input("Select operations form 1, 2, 3, 4 :"))
 
number_1 = int(input("Enter first number: "))
number_2 = int(input("Enter second number: "))
 
if select == 1:
    print(number_1, "+", number_2, "=",
                    add(number_1, number_2))
 
elif select == 2:
    print(number_1, "-", number_2, "=",
                    sub(number_1, number_2))
 
elif select == 3:
    print(number_1, "*", number_2, "=",
                    mul(number_1, number_2))
 
elif select == 4:
    print(number_1, "/", number_2, "=",
                    div(number_1, number_2))
else:
    print("Invalid input")

Please select operation -
1. Add
2. Subtract
3. Multiply
4. Divide

Select operations form 1, 2, 3, 4 :3
Enter first number: 25
Enter second number: 4
25 * 4 = 100